/* DatePickerStyles.css */
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
  text-align: center;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper {
  z-index: 2;
}

.react-datepicker {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 16px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 32px;
  line-height: 32px;
  margin: 0;
  color: #666;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--keyboard-selected {
  background-color: #000000;
  color: white;
}

.react-datepicker__day--disabled {
  color: #ccc;
}
